[Desktop Entry]
Type=Application
Version=1.0
Name=Install SenOS
Name[vi]=Cài đặt SenOS
Comment=Install SenOS permanently to your disk
Comment[vi]=Cài đặt SenOS vào ổ đĩa
Keywords=ubiquity;installer;senos;
Exec=sudo --preserve-env=DBUS_SESSION_BUS_ADDRESS,XDG_DATA_DIRS,XDG_RUNTIME_DIR,GTK_THEME sh -c 'WEBKIT_DISABLE_COMPOSITING_MODE=1 ubiquity gtk_ui'
Icon=senos-logo
Terminal=false
Categories=GTK;System;Settings;
X-Ayatana-Appmenu-Show-Stubs=False
